* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  height: 650px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slides {
  display: none;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: 4rem;
  aspect-ratio: 0.75;
  margin-top: -2rem;
  
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 0.25rem 0.25rem 0;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.25rem 0 0 0.25rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem .75rem;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem;
  gap: 0.5rem;
}

.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
